name: Update Naukri Resume

on:
  schedule:
    - cron: "0 3 * * *"   # Runs every day at 8:30 AM IST
  workflow_dispatch:       # Allows manual run

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
          RESUME_PATH: "./resume.pdf"
        run: python NaukriUpdateDaily.py
